In [2]:
import pandas as pd

c19cases = pd.read_csv('time_series_covid19_confirmed_US.csv')

c19cases.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21,3/6/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6203,6228,6248,6264,6270,6303,6313,6324,6333,6344
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,19670,19698,19714,19732,19758,19790,19856,19873,19890,19915
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2099,2106,2113,2115,2116,2124,2129,2136,2139,2138
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,2442,2445,2449,2450,2450,2454,2459,2461,2457,2460
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,6086,6084,6095,6097,6102,6106,6229,6236,6246,6252

In [49]:
#orig county list

c19df = c19cases[(c19cases['Province_State'] == 'New York') & (c19cases['Admin2'] == 'Onondaga')]
                 
c19df = c19df.append(c19cases[(c19cases['Province_State'] == 'Illinois') & (c19cases['Admin2'] == 'Lake')])
c19df = c19df.append(c19cases[(c19cases['Province_State'] == 'Virginia') & (c19cases['Admin2'] == 'Manassas Park')])
c19df = c19df.append(c19cases[(c19cases['Province_State'] == 'Missouri') & (c19cases['Admin2'] == 'Clay')])
c19df = c19df.append(c19cases[(c19cases['Province_State'] == 'Virginia') & (c19cases['Admin2'] == 'Virginia Beach')])
c19df = c19df.append(c19cases[(c19cases['Province_State'] == 'Florida') & (c19cases['Admin2'] == 'Pinellas')])
c19df = c19df.append(c19cases[(c19cases['Province_State'] == 'Pennsylvania') & (c19cases['Admin2'] == 'Lancaster')])
c19df = c19df.append(c19cases[(c19cases['Province_State'] == 'Texas') & (c19cases['Admin2'] == 'Galveston')])
c19df = c19df.append(c19cases[(c19cases['Province_State'] == 'Texas') & (c19cases['Admin2'] == 'Harris')])

        
# c19df

In [12]:
# new dataframe of selected counties
counties = pd.read_csv('county_info.csv', index_col = [0])
counties.rename({'counties': 'county'}, axis='columns', inplace = True)
counties

                  county                 state  populations  ed_rate  tier
0               New York              New York        69468    0.613     2
1                  Kings              New York        35369    0.375     1
2                  Bronx              New York        32903    0.201     1
3                 Queens              New York        20554    0.322     1
4          San Francisco            California        17179    0.581     2
5                 Hudson            New Jersey        13732    0.423     1
6                Suffolk         Massachusetts        12417    0.461     2
7           Philadelphia          Pennsylvania        11379    0.297     1
8   District of Columbia  District of Columbia         9857    0.585     2
9             Alexandria              Virginia         9314    0.631     3
10             Arlington              Virginia         8853    0.753     3
11              Richmond              New York         8030    0.339     1
12             Baltimore              Maryland         7672    0.394     1
13                 Essex            New Jersey         6212    0.355     1
14          Falls Church              Virginia         6170    0.776     3
15         Manassas Park              Virginia         5633    0.279     1
16                  Cook              Illinois         5495    0.388     1
17                 Union            New Jersey         5216    0.360     1
18           Saint Louis              Missouri         5157    0.436     1
19                Nassau              New York         4705    0.460     2
20               Norfolk              Virginia         4486    0.288     1
21       Charlottesville              Virginia         4242    0.549     2
22             Milwaukee             Wisconsin         3926    0.310     1
23                Denver              Colorado         3923    0.494     2

In [11]:
states = []
counties_lst = []

for index, county in counties.iterrows():
    states.append(county['county'][-2:])
    counties_lst.append(county['county'][0:-3])
    
counties['state'] = states
counties['county'] = counties_lst


counties = counties[['county', 'state', 'populations', 'ed_rate', 'tier']]

#counties

In [65]:
c19df = pd.DataFrame()

for index, county in counties.iterrows():
    c19df = c19df.append(c19cases[(c19cases['Province_State'] == str(county['state'])) & 
                          (c19cases['Admin2'] == str(county['county']))])
    
    

c19df

#c19df.to_csv('covid_cases.csv')

,tier,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,...,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21,3/6/21
1930,2,84036061.0,US,USA,840.0,36061.0,New York,New York,US,40.767273,...,101250.0,101934.0,102643.0,103289.0,103922.0,104444.0,104874.0,105491.0,106144.0,106864.0
1923,2,84036047.0,US,USA,840.0,36047.0,Kings,New York,US,40.636182,...,206029.0,207366.0,208629.0,209868.0,210950.0,212124.0,213207.0,214366.0,215613.0,216963.0
1902,2,84036005.0,US,USA,840.0,36005.0,Bronx,New York,US,40.852093,...,141174.0,142069.0,142935.0,143814.0,144519.0,145226.0,145809.0,146559.0,147276.0,148210.0
1941,2,84036081.0,US,USA,840.0,36081.0,Queens,New York,US,40.710881,...,207309.0,208445.0,209641.0,210793.0,211812.0,212927.0,213800.0,214905.0,216033.0,217265.0
233,2,84006075.0,US,USA,840.0,6075.0,San Francisco,California,US,37.752151,...,34061.0,34138.0,34213.0,34260.0,34291.0,34318.0,34387.0,34443.0,34480.0,34526.0
1850,2,84034017.0,US,USA,840.0,34017.0,Hudson,New Jersey,US,40.737662,...,68323.0,68672.0,69078.0,69277.0,69600.0,69940.0,70202.0,70465.0,70791.0,71174.0
1277,2,84025025.0,US,USA,840.0,25025.0,Suffolk,Massachusetts,US,42.327951,...,77569.0,77831.0,78064.0,78277.0,78485.0,78468.0,78705.0,78922.0,79200.0,79420.0
2380,2,84042101.0,US,USA,840.0,42101.0,Philadelphia,Pennsylvania,US,40.003385,...,117642.0,117642.0,117642.0,117642.0,118594.0,118906.0,119245.0,119562.0,119874.0,119874.0
337,2,84011001.0,US,USA,840.0,11001.0,District of Columbia,District of Columbia,US,38.904178,...,40122.0,40284.0,40478.0,40598.0,40684.0,40767.0,40818.0,41014.0,41122.0,41273.0
3010,2,84051510.0,US,USA,840.0,51510.0,Alexandria,Virginia,US,38.814003,...,10259.0,10285.0,10299.0,10328.0,10342.0,10352.0,10384.0,10389.0,10404.0,10429.0
3015,2,84051013.0,US,USA,840.0,51013.0,Arlington,Virginia,US,38.876767,...,13020.0,13060.0,13112.0,13151.0,13182.0,13215.0,13255.0,13294.0,13342.0,13391.0
1943,2,84036085.0,US,USA,840.0,36085.0,Richmond,New York,US,40.585822,...,56174.0,56406.0,56649.0,56938.0,57201.0,57405.0,57617.0,57895.0,58212.0,58545.0
1239,2,84024005.0,US,USA,840.0,24005.0,Baltimore,Maryland,US,39.457847,...,50482.0,50669.0,50779.0,50891.0,50972.0,51062.0,51183.0,51318.0,51492.0,51639.0
1848,2,84034013.0,US,USA,840.0,34013.0,Essex,New Jersey,US,40.786813,...,72740.0,73078.0,73506.0,73718.0,73995.0,74249.0,74570.0,74861.0,75189.0,75544.0
3047,2,84051610.0,US,USA,840.0,51610.0,Falls Church,Virginia,US,38.884853,...,342.0,346.0,351.0,352.0,353.0,353.0,352.0,355.0,354.0,358.0
3084,2,84051685.0,US,USA,840.0,51685.0,Manassas Park,Virginia,US,38.770585,...,1120.0,1121.0,1123.0,1124.0,1127.0,1126.0,1127.0,1127.0,1129.0,1129.0
640,2,84017031.0,US,USA,840.0,17031.0,Cook,Illinois,US,41.841448,...,472206.0,473194.0,473944.0,474397.0,474885.0,475386.0,476094.0,476835.0,477381.0,478498.0
1863,2,84034039.0,US,USA,840.0,34039.0,Union,New Jersey,US,40.658354,...,56067.0,56275.0,56591.0,56756.0,56976.0,57196.0,57442.0,57632.0,57833.0,58121.0
1929,2,84036059.0,US,USA,840.0,36059.0,Nassau,New York,US,40.740665,...,145985.0,146727.0,147472.0,148110.0,148669.0,149251.0,149851.0,150538.0,151327.0,151970.0
3093,2,84051710.0,US,USA,840.0,51710.0,Norfolk,Virginia,US,36.899340,...,14742.0,14780.0,14838.0,14898.0,14935.0,14970.0,15019.0,15049.0,15079.0,15125.0
3031,2,84051540.0,US,USA,840.0,51540.0,Charlottesville,Virginia,US,38.035279,...,3550.0,3574.0,3602.0,3624.0,3642.0,3636.0,3662.0,3660.0,3663.0,3669.0
3281,2,84055079.0,US,USA,840.0,55079.0,Milwaukee,Wisconsin,US,43.004861,...,106794.0,106908.0,106994.0,107069.0,107112.0,107203.0,107304.0,107408.0,107555.0,107631.0
271,2,84008031.0,US,USA,840.0,8031.0,Denver,Colorado,US,39.760183,...,59086.0,59320.0,59506.0,59584.0,59779.0,59842.0,59959.0,60121.0,60389.0,60505.0